@import "~bootstrap/scss/bootstrap";

body {
  background-image: url('../solarSystem/spaceE10.jpg');
  background-color: purple;
  margin: 100px;
};

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
};

.individual-card {
  *{pointer-events: none;} 
};
